@* 4.A) Binding a Class to a Settings section (Denpendecy Injection - IOptions) *@ 
@inject Microsoft.Extensions.Configuration.IConfiguration config
@inject Microsoft.Extensions.Options.IOptions<SocialLoginSettings> socialLoginOptions

<div>
    <div class="row mb-2">
        <div class="col-md-6">
            <div class="card flex-md-row mb-4 box-shadow h-md-250">
                <div class="card-body d-flex flex-column align-items-start">
                    <strong class="d-inline-block mb-2 text-primary">SendGrid</strong>
                    <div class="mb-1 text-muted">@ViewBag.SendGridKey</div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card flex-md-row mb-4 box-shadow h-md-250">
                <div class="card-body d-flex flex-column align-items-start">
                    <strong class="d-inline-block mb-2 text-primary">BottomLevelSetting</strong>
                    <div class="mb-1 text-muted">@ViewBag.BottomLevelSetting_c</div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card flex-md-row mb-4 box-shadow h-md-250">
                <div class="card-body d-flex flex-column align-items-start">
                    <strong class="d-inline-block mb-2 text-primary">Twilio from Controller</strong>
                    <div class="mb-1 text-muted">@ViewBag.TwilioAuthToken</div>
                    <div class="mb-1 text-muted">@ViewBag.TwilioAccountSid</div>
                    <div class="mb-1 text-muted">@ViewBag.TwilioPhoneNumber</div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card flex-md-row mb-4 box-shadow h-md-250">
                <div class="card-body d-flex flex-column align-items-start">
                    <strong class="d-inline-block mb-2 text-primary">Twilio injected into the View</strong>
                    <div class="mb-1 text-muted">@config.GetSection("Twilio:AuthToken").Value</div>
                    <div class="mb-1 text-muted">@config.GetSection("Twilio:AccountSid").Value</div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card flex-md-row mb-4 box-shadow h-md-250">
                <div class="card-body d-flex flex-column align-items-start">
                    <strong class="d-inline-block mb-2 text-primary">Twilio from DI (IOptions)</strong>
                    <div class="mb-1 text-muted">@ViewBag.TwilioAuthToken_di_opt</div>
                    <div class="mb-1 text-muted">@ViewBag.TwilioAccountSid_di_opt</div>
                    <div class="mb-1 text-muted">@ViewBag.TwilioPhoneNumber_di_opt</div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card flex-md-row mb-4 box-shadow h-md-250">
                <div class="card-body d-flex flex-column align-items-start">
                    <strong class="d-inline-block mb-2 text-primary">Twilio from DI</strong>
                    <div class="mb-1 text-muted">@ViewBag.TwilioAuthToken_di</div>
                    <div class="mb-1 text-muted">@ViewBag.TwilioAccountSid_di</div>
                    <div class="mb-1 text-muted">@ViewBag.TwilioPhoneNumber_di</div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card flex-md-row mb-4 box-shadow h-md-250">
                <div class="card-body d-flex flex-column align-items-start">
                    <strong class="d-inline-block mb-2 text-primary">Sociale Logins (a more Complexe example)</strong>
                    <div class="mb-1 text-muted">@ViewBag.FacebookKey</div>
                    <div class="mb-1 text-muted">@ViewBag.GoogleKey</div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card flex-md-row mb-4 box-shadow h-md-250">
                <div class="card-body d-flex flex-column align-items-start">
                    <strong class="d-inline-block mb-2 text-primary">Sociale Logins (injection into the view directly)</strong>
                    <div class="mb-1 text-muted">@socialLoginOptions.Value.FacebookSettings.Key</div>
                    <div class="mb-1 text-muted">@socialLoginOptions.Value.GoogleSettings.Key</div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card flex-md-row mb-4 box-shadow h-md-250">
                <div class="card-body d-flex flex-column align-items-start">
                    <strong class="d-inline-block mb-2 text-primary">Connection string example</strong>
                    <div class="mb-1 text-muted">@ViewBag.ConnectionStrings</div>
                </div>
            </div>
        </div>

    </div>
</div>